#ignore the file in folder
*/.DS_Store
.DS_Store
.DS_Store?
#Directory

dist/*
node_modules/*
public/*
.vscode/*
server/api/controllers/testCtrl/*
server/api/config/
sources/
#server/cron/*

#file
whoiswining.txt
.env
server/api/config/config.json
server/api/cache/cache.client.js
server/api/models/index.js
server/api/nodejs/test.js
server/common/secret.config.json
server/common/server.ts
server/common/swagger.ts
server/common/indusinduat-publickey.txt

server/cron/paytm.ts
server/cron/crontest.js
server/cron/tableRefunds.ts
server/api/notifications/gamesapp-firebase-adminsdk.json
nodemon.json
tsconfig.json
build.ts
.prettierrc.js
.eslintrc.js
.eslintrc.js
/ddd
.cfignore
server/api/config/config.bck.json
server/api/nodejs/updateUsernames.js
*.log
package-lock.json
server/api/models/init-models.js
server/common/neo4j/neo4jConfig.json
server/common/indusindEncDec.ts
